.open-ccb-box
  display: flex
  justify-content: center
  margin-top: 24px
  .open-ccb 
    background-image: linear-gradient(90deg,#4AC8FF,#0095ee)
    border-radius: 18px
    padding: 9px 48px
    font-size: 14px
    color: #ffffff
    letter-spacing: 0
    text-align: center
    font-weight: bold
    width: 60%