* 
  box-sizing: content-box
.header-card
  background-image: url(../../assets/icon/bg.png)
  background-size: 100% 100%
  height: 217.5px
  color: #ffffff
  font-size: 15px
  padding: 5px 15px 0
  .person-ifo 
    display: flex
    justify-content: space-between
    font-size: 17px
    height 40px
    margin: 5px 0
    .org 
      color: #000000
      font-size: 12px
      display: flex
      flex-direction: column
      justify-content: space-between
      .logo-right 
        height: 25px
        color: #000000
        font-size: 12px
      .ccb-org 
        color: #ffffff
        margin-left: 27.5px
        font-size: 12px
        font-weight: bold
        margin-bottom: 3px
    .mrch-nm 
      line-height: 50px
      margin-right: 15px
      font-size: 17px
      font-weight: bold

  .card 
    position relative
    background-image: url(../../assets/icon/cardbg.png)    
    background-size: 100% 100%
    width: 310px
    margin: 0 auto
    box-shadow: 0 5px 7px hsla(0, 0%, 60%, 0.43)
    border-radius: 3.69px
    padding: 18px 16px 16px
    color: #ffffff
    font-size: 15px
    display: flex
    justify-content: space-between
    .header-img-box 
      width: 95px
      font-size: 14px
      text-align: center
      margin-top: 8px
      color: #ffffff
      .img 
        width: 108px
        height: 108px
        border-radius: 5px
        font-size: 14px
        text-align: center
        margin-bottom: 5px
      .tip-under-header 
        justify-content: space-around
        display: flex
        font-size: 14px
        text-align: center
        .EMPE_NM 
          padding-top: 3px
          font-size: 14px
          font-weight: bold
          text-align: center
          color: #ffffff
        .position 
          font-size: 11px
          margin-left: 3px
          margin-top: 3px
          padding-top: 3px
    .header-zizhi 
      width: 185px
      font-size: 12px
      .zige-cer 
        font-size: 12px
        color: #ffffff
        text-align: left
        font-weight: bold
      .zizhi-cer 
        padding-top: 8px
        padding-bottom: 11px
        display: flex
        overflow: hidden 
        .img 
          height: 37px
          width: 28px
          padding-right: 6px
          margin-bottom: 4px   
      .dsc 
        font-size: 12px
        flex-wrap: wrap
        height: 34px
        overflow: hidden
        margin-bottom: 18px
        padding-bottom: 19px
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 2
      .more 
        color: #ffffff
        border-radius: 12.5px
        text-align: center
        opacity 0.35
        background-color: #b42903
        line-height: 20px
        width: 80px
        font-size: 10px
        div 
          font-size: 10px
          font-weight: bold
    .card-phone 
      width: 29px
      height: 29px
      position: absolute
      margin-top: 120px
      margin-left: 280px  

.label-title
  width: 100%
  display: flex
  justify-content: center
  margin-bottom: 13px
  .child_div 
    width: 145.31px
    height: 40px
    display: flex
    align-items: center
    justify-content: space-between
    .img 
      height: 10.5px
      width: 20px
    .line_title
      color: #5c0e00;
      font-size: 18px
      // font-weight: bold

.grid 
  display: flex
  flex-flow: wrap
  justify-content: space-between
  margin: 0 18px 25px
  .item 
    width: 165px
    // height: 75px
    margin-top: 8px
    .backimg 
      background-size: 100% 100%
      padding: 16px 0
      padding-left: 10px
      color: #ffffff
      height 43px
      .font-top 
        font-weight: 800
        font-size: 14px
      .font-bot
        margin-top: 6px
        font-weight: 300
        font-size: 12px

.tel-a 
  margin-left: 20px
  font-size 0
  // margin-top: 5px
  margin-bottom: 5px
  span 
    color: #ffffff
    font-size 13px
  .tel 
    margin-left: 10px
    color: #ffffff
    font-size 13px
    // text-decoration: underline

.bg-main
  background-image: url(../../assets/icon/bg3.jpg)
  background-size: auto 100%
  min-height: 100vh