.main 
  padding: 0 20px
  .title 
    font-size: 16px
    color: #0095ee
    text-align: center
    padding: 10px 0
  .info
    font-size: 14px
    color: #333333
    display: flex
    justify-content: center
    align-items: center
    .info-item
      font-size: 14px
      color: #333333
      padding: 10px

  .main-time
    font-size: 14px
    color: #333333
    text-align: right 
    padding: 10px 0    